matplotlib
pandas
flask
selenium
pytest
camelot-py
camelot-py[cv]
camelot-py[plot]
bs4
lxml
psycopg2-binary
python-dotenv
opencv-python
PyPDF2<3.0
datetime
awswrangler
SQLAlchemy
llama-index-embeddings-openai
llama-index-readers-database
llama-index-llms-openai
prefect
boto3
streamlit
s3fs
st-files-connection
pdfplumber
dbt-postgres