matplotlib
pandas
flask
selenium
pytest
# camelot-py
# camelot-py[cv]
# camelot-py[plot]
bs4
lxml
psycopg2-binary
python-dotenv
opencv-python
PyPDF2<3.0
datetime
awswrangler
SQLAlchemy
Flask-SQLAlchemy
pdfplumber
dbt-postgres
supabase_py
supabase
flask-cors