/* stockinfo.css */
/* Add card-like styling to the header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;
  border-radius: 8px; /* Add rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for silhouette effect */
  border: 1px solid #ccc; /* Add border for visual separation */
}


.header-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: .5rem;
  border-radius: 50%; /* Make the image circular */
}

/* Update h1 styling */
h1 {
  margin: 0;
  color: #ff1212; /* American red color (customizable) */
  font-family: 'Garamond', 'Georgia', serif; /* Use Garamond or Georgia as a government-like font */
  font-size: 24px; /* Adjust the font size as desired */
  line-height: 1.2;
}

.search-bar {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}



.dashboard-container {
  margin-top: 2rem;
}

.table-container {
  width: 90%;
  margin: auto;
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.table-cell {
  text-align: center;
}

.data-table-container {
  width: 85%; 
  margin: 0 auto; 
}



